.dashboard
{
    font-family: 'Times New Roman', Times, serif;
    color:white;
    background-color: black;
    display:flex;
    height:80px;
    
}
li
{
    margin-right:50px;
    list-style-type:none;
   height:70px;
}
